<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prediction Result</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container result-box">
    <h1>Prediction Result</h1>
    {% if results is not none %}
      <p class="result"> Fire Risk Prediction: <strong>{{ results }}</strong></p>
    {% else %}
      <p>No prediction available yet.</p>
    {% endif %}
    <a href="/" class="back-btn">Go Back</a>
  </div>
</body>
</html>
